<div class="location-container">
  <div class="location-card">

    <div class="location-icon">
      🏛️
    </div>

    <div class="location-content">

      <div class="location-title">
        {{ ts.translate('venue_name') }}
      </div>

      <div class="location-address">
        <div>{{ ts.translate('venue_line1') }}</div>
        <div>{{ ts.translate('venue_line2') }}</div>
        <div>{{ ts.translate('venue_line3') }}</div>
        <div>{{ ts.translate('venue_line4') }}</div>
      </div>

    </div>

  </div>
</div>