<div
  class="action-btn-half whatsapp-card click-box d-flex justify-content-between align-items-center p-3"
  (click)="openWhatsapp()"
>
  <div class="d-flex align-items-center">
    <div class="whatsapp-icon d-flex justify-content-center align-items-center me-3">
      <svg width="32" height="32" viewBox="0 0 24 24" fill="currentColor">
        <path
          d="M.057 24l1.687-6.163c-1.041-1.804-1.588-3.849-1.587-5.946C.06 5.348 5.397.01 12.008.01c3.202.001 6.212 1.246 8.477 3.514 2.266 2.268 3.507 5.28 3.505 8.484-.004 6.657-5.34 11.997-11.953 11.997-2.005-.001-3.973-.502-5.713-1.458L0 24zm6.59-4.846c1.6.95 3.16 1.449 4.743 1.451 5.48.002 9.938-4.451 9.941-9.93.001-2.652-1.03-5.148-2.902-7.022C16.559 1.778 14.067.75 11.417.75c-5.486 0-9.944 4.453-9.946 9.933-.001 1.763.469 3.483 1.362 5.02L1.832 21.87l6.386-1.675z"
        />
      </svg>
    </div>

    <div>
      <h6 class="whatsapp-title mb-1">
        {{ ts.translate('label_whatsapp') }}
      </h6>

      <small class="whatsapp-subtitle">
        {{ ts.translate('val_whatsapp_sub') }}
      </small>
    </div>
  </div>

  <div class="whatsapp-arrow">
    <svg
      width="18"
      height="18"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="3"
    >
      <polyline points="9 18 15 12 9 6"></polyline>
    </svg>
  </div>
</div>
