<div class="family-container">
  <div class="family-row">
    <!-- Worthy son -->
    <div class="family-column">
      <div class="family-header">{{ ts.translate('label_worthy_son') }}</div>
      <div class="family-names">
        <div class="name">{{ ts.translate('family_1_line1') }}</div>
        <div class="name">&</div>
        <div class="name">{{ ts.translate('family_1_line2') }}</div>
      </div>
    </div>

    <!-- Divider -->
    <div class="divider"></div>

    <!-- Son -->
    <div class="family-column">
      <div class="family-header">{{ ts.translate('label_son') }}</div>
      <div class="family-names">
        <div class="name">{{ ts.translate('family_2_line1') }}</div>
        <div class="name">&</div>
        <div class="name">{{ ts.translate('family_2_line2') }}</div>
      </div>
    </div>

    <!-- Divider -->
    <div class="divider"></div>

    <!-- Baby -->
    <div class="family-column">
      <div class="family-header">{{ ts.translate('label_son') }}</div>
      <div class="family-names">
        <div class="name">{{ ts.translate('family_3_line1') }}</div>
      </div>
    </div>
  </div>
</div>
